// colors
$fg: #e8e3e3;
$bg: #101010;

$black: #171717;
$dark: #1a1a1a;
$gray: #424242;
$white: #e8e3e3;
$red: #b66467;
$yellow: #d9bc8c;
$green: #8c977d;
$cyan: #8aa6a2;
$blue: #8da3b9;
$magenta: #a988b0;

$radius: 2px;
$icon-size: 14px;
$font-size: 12px;

$icon-font: "Feather";

// widgets
* {
  all: unset;
}

// windows
window {
	background: $bg;
	color: $fg;
	font-size: $font-size;
	font-family: "JetBrainsMono NerdFont Mono";
	font-weight: 400;

	& > * {
		margin: 8px;
	}
}

// sliders
scale trough {
	all: unset;
	background-color: $bg;
	border-radius: $radius;
	min-height: 10px;
	min-width: 100px;
	margin: 3px 10px 0px;
}

// bubbles
.metric {
	padding: 0px;

	min-height: 20px;
	
	background-color: $black;
	border-radius: $radius;
}

// icons
@mixin icon {
	padding: 8px 10px;

	font-family: $icon-font;
	font-size: $icon-size;

	border-radius: $radius;

	transition: all 0.2s;
}

//
// LEFT WIDGETS
//

// launcher
.launcher-icon {
	padding: 4px 6px 6px 6px;

	color: $bg;
	background-color: $white;
	border-top: 2px solid $white;

	font-family: $icon-font;
	font-size: $icon-size;

	transition: all 0.2s;

	&:hover {
		color: $white;
		background-color: $black;
	}
}

.playpause-icon {
	padding: 9px 6px 9px 4px;

	font-family: $icon-font;
	font-size: $icon-size;
	transition: color 0.2s, background-color 0.2s, border 0.2s;

	color: $fg;
	border-left: 2px solid $black;
	border-radius: $radius;

	&:hover {
		background-color: $black;
		color: $white;
	}
}
.music-playing {
	padding: 9px 6px;

	background-color: $white;
	color: $bg;
	border-left: 2px solid $white;

	&:hover {
		background-color: $black;
	}
}

.skip-icon {
	@include icon;

	&:hover {
		color: $white;
	}
}

.prev-icon {
	@include icon;

	&:hover {
		color: $white;
	}
}

.workspace {
	background-color: $black;
	border-radius: $radius;
	}

	/* Unoccupied */
	.ws, .ws1, .ws2, .ws3, .ws4,
	.ws11, .ws22, .ws33, .ws44 {
		@include icon;
		&:hover {
			color: $cyan;
		}
	}

	.ws {
		color: $gray;
	}
	
	/* Occupied */
	.ws1, .ws2, .ws3, .ws4 {
	  color: $white;
	}
	
	/* Focused */
	._ws11, .ws22, .ws33, .ws44 {
	  color: $white;
	}

//
// CENTER WIDGETS
//

.time-clock {
	color: $white;
	background-color: $black;
	padding: 0 4px 0 4px;
}

.date-clock {
	color: $fg;
	background-color: $black;
	padding: 0 4px 0 4px;
}

.hour {
	color: $white;
	padding: 2px;
}

.day {
	color: $white;
	padding: 2px;
}

//
// RIGHT (sus) WIDGETS
//

.memory-icon {
	@include icon;
	padding: 9px 6px 9px 4px;

	background-color: $red;
	color: $bg;
	border-left: 2px solid $red;
	border-radius: $radius;

	&:hover {
		color: $red;
		background-color: $black;
	}
}

.bluetooth-icon {
	@include icon;
	color: $gray;

	&:hover {
		color: $cyan;
	}
}

.bluetooth-on {
	color: $red;
}
.bluetooth-connected {
	color: $white;
}

.mic-icon {
	@include icon;
	color: $gray;

	&:hover {
		color: $cyan;
	}
}
.mic-on {
	color: $white;
}


.volume-icon {
	@include icon;

	&:hover {
		color: $cyan;
	}
}
.volume-slider trough highlight {
	background-color: $white;
	border-radius: $radius;
}

.poweroff-icon {
	padding: 4px 6px 6px 6px;

	color: $bg;
	background-color: $white;

	border-top: 2px solid $white;

	font-family: $icon-font;
	font-size: $icon-size;
	transition: all 0.2s;

	&:hover {
		color: $white;
		background-color: $black;
	}
}
